.bottom-nav{
  position:fixed;
  overflow: hidden;
  z-index: 1;
  height: auto;
  bottom: 0px;
  width: 100%;

  display: flex;
  align-items:flex-end;  /* Horizontal center */
  justify-content: center;  /* Vertical center if height is set */
  gap: 20vw;

  background-color: white;
  padding: 1em 0;
  border-top: 1px solid rgba(28, 34, 44, 0.25);
  z-index: 2;

}

.bottom-nav a.active img {
  filter: invert(48%) sepia(66%) saturate(2383%) hue-rotate(335deg) brightness(110%) contrast(87%);;
}