.top-nav{
  position:fixed;
  overflow: hidden;
  z-index: 2;
  height: auto;
  top: 0px;
  width: 100%;

  background-color: white;

  display: flex;
  align-items:flex-end;  /* Horizontal center */
  justify-content: center;  /* Vertical center if height is set */
  gap: 28vw;

  background-color: white;
  padding: 1.5em 0;

}

.top-nav h1{
  padding: 0;
  margin: 0;
  font-style: italic;
  font-size: 30px;
}