.profile-container{
  margin: 4em 0;

}

.profile-header{
  display:flex;
  flex-direction: column;
  align-items: center;  /* Horizontal center */
  justify-content: center;  /* Vertical center if height is set */
  text-align: center;
  padding: 1rem;
}

.pfp-section{
 margin-bottom: 0;
 width: 100%;

}

.edit-pfp{
  all: unset;
  margin:-20px -20px;
}
.add-session-btn{
  padding: 1rem;
  width: 100%;
  background: #3D5A80;
  color: white;
  border: none;
  cursor: pointer;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  text-transform: capitalize;
}

.add-session-btn:hover{
  background: #273a53;
}

#skill-label{
margin:0 0 1.5rem;
font-weight: 500;
font-size: .7rem;
line-height: .7rem;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #293241;
}

.tab-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-weight:700;
  /* Summary */

  text-align: center;
  text-transform: capitalize;

  color: #293241;

  border-bottom: 1px solid rgba(28, 34, 44, 0.25);
}

.tab-row span {
  padding: 0;
  width: 50%;
  cursor: pointer;
  color: #606060;
  border-bottom: 3px solid white;
  transition: all 0.2s ease;
}

.tab-row .active-tab {
  color: #1C222C;
  border-bottom: 3px solid #EE6C4D;
}

.tab-row p{
  cursor: pointer;
}

.tab-page {
  padding: 24px;
  display: none;
}
.tab-page.active {
  margin-top: 0;
  padding: 0;
  display: block;
}

.tab-page.active p{
  margin:0;
}

.sessions-content h3{
  margin:0;
}

.summary-content h3{
  margin:0;
}

#tab-content{
  margin-top: 0;
  background-color: #EDEDED;
  min-height: 50vh;
  height: auto;
}

.session-modal{
  
}