.forecast-container{
  background: #fbfbfb;
  
  border-radius: 5px;
  padding: 1em;
  padding-top: .1em;
  margin-bottom: 1em;
    box-shadow: none;

}
.forecast-chart{
  position: relative;
  width: 100%;
  height: 7em;
}


.forecast-container--days {
  box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.06);
}

.beach-name {
  display: flex;
}

.forecast-segments {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  z-index: 1;
}

.forecast-segment-bar {
  width: .25em;
  background-color: #fbfbfb;
  height: 100%;
}

.forecast-labels {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  pointer-events: none;
  z-index: 2;
  font-size: 14px;
  font-weight: 600;
  color: #5D696D;
}

.forecast-labels--days {
  font-size: 16px;
}

.forecast-label {
  text-align: center;
}

.forecast-xlabels {
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  height: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #ccc;
  font-size: 12px;
  color: #5D696D;
  background: #fbfbfb;
  z-index: 2;
  pointer-events: none;
}

.forecast-xlabel {
  text-align: center;
  flex: 1;
}

.chart-segments{
  position: absolute;
  top: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: 'flex';
  justify-content: 'space-between';
  pointer-events: 'none';
  z-index: 1;
}

.beach-name{
  margin-bottom: 0;

}

.bottom-sheet {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70%;
  background-color: #fbfbfb;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-out;
  touch-action: none;
  will-change: transform;
  margin-bottom: 4em;
}

.sheet-handle {
  width: 3em;
  height: 6px;
  background-color: #ccc;
  border-radius: 3px;
  margin: 1.5em auto;
  margin-bottom: 0em;
  cursor: grab;
}

.sheet-content {
  padding: 1em;
  overflow-y: auto;
  height: calc(100% - 30px); /* make room for handle */
}

